In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as plt # data visualization
import seaborn as sns #data visualization
import random

In [2]:
random.seed(1)
# Import the dataset
pokemon = pd.read_csv("input/pokemon.csv")

In [3]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
#What is data frame? 
d = {'col1': [1, 2], 'col2': [3,4]}
df = pd.DataFrame(d)
df

   col1  col2
0     1     3
1     2     4

In [5]:
# rename the column with a pound sign/hashtag as "number" its name
# The reason for this is when  we try and access this column later it will comment out the code
pokemon = pokemon.rename(index=str, columns={"#": "Number"})
pokemon

,Number,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
combat = pd.read_csv("input/combats.csv")

In [7]:
combat

       First_pokemon  Second_pokemon  Winner
0                266             298     298
1                702             701     701
2                191             668     668
3                237             683     683
4                151             231     151
...              ...             ...     ...
49995            707             126     707
49996            589             664     589
49997            303             368     368
49998            109              89     109
49999              9              73       9

[50000 rows x 3 columns]

In [8]:
pokemon.head()

,Number,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
combat.tail(n = 8)

       First_pokemon  Second_pokemon  Winner
49992            592             703     703
49993            728             762     728
49994            657             681     681
49995            707             126     707
49996            589             664     589
49997            303             368     368
49998            109              89     109
49999              9              73       9

In [10]:
print("Dimensions of Pokemon: " + str(pokemon.shape))
print("Dimensions of Combat: " + str(combat.shape))

Dimensions of Pokemon: (800, 12)
Dimensions of Combat: (50000, 3)

In [11]:
# isna() == isnull() == : equal, = : 오른쪽 값을 왼쪽에 대입
pokemon.isna()

,Number,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
pokemon.isnull().sum()

Number          0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [14]:
pokemon['Name'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Name, Length: 800, dtype: bool

In [15]:
pokemon[pokemon['Name'].isnull()]

,Number,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
62,63,NaN,Fighting,NaN,65,105,60,60,70,95,1,False

In [16]:
print("This pokemon is before the missing Pokemon: " + pokemon['Name'][61])
print("This pokemon is after the missing Pokemon: " + pokemon['Name'][63])

This pokemon is before the missing Pokemon: Mankey
This pokemon is after the missing Pokemon: Growlithe

In [17]:
# Find, update missing value in pokemon
pokemon['Name'][62] = "Primeape"

<ipython-input-17-eac3996b5002>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['Name'][62] = "Primeape"

In [18]:
combat_winner = combat['Winner']
combat_winner # series

0        298
1        701
2        668
3        683
4        151
        ...
49995    707
49996    589
49997    368
49998    109
49999      9
Name: Winner, Length: 50000, dtype: int64

In [23]:
combat.iloc[1] #iloc = index location

First_pokemon     702
Second_pokemon    701
Winner            701
Name: 1, dtype: int64

In [24]:
# calculate the win % of each pokemon 
# add the calculation to the pokemon dataset
total_Wins = combat_winner.value_counts()
total_Wins

163    152
154    136
438    136
428    134
432    133
      ...
189      5
237      4
639      4
190      3
290      3
Name: Winner, Length: 783, dtype: int64

In [25]:
pokemon['Name'][163]

'Mega Mewtwo X'

In [27]:
pokemon['Name'] # series

0           Bulbasaur
1             Ivysaur
2            Venusaur
3       Mega Venusaur
4          Charmander
            ...
795           Diancie
796      Mega Diancie
797    Hoopa Confined
798     Hoopa Unbound
799         Volcanion
Name: Name, Length: 800, dtype: object

In [28]:
pokemon.iloc[163]

Number                  164
Name          Mega Mewtwo X
Type 1              Psychic
Type 2             Fighting
HP                      106
Attack                  190
Defense                 100
Sp. Atk                 154
Sp. Def                 100
Speed                   130
Generation                1
Legendary              True
Name: 163, dtype: object

In [29]:
pokemon['Name'][154]

'Mega Aerodactyl'

In [30]:
total_Wins[154]

136

In [31]:
combat.groupby('Winner')

In [32]:
# get the number of wins for each pokemon
numberOfWins = combat.groupby('Winner').count()
numberOfWins

        First_pokemon  Second_pokemon
Winner
1                  37              37
2                  46              46
3                  89              89
4                  70              70
5                  55              55
...               ...             ...
796                39              39
797               116             116
798                60              60
799                89              89
800                75              75

[783 rows x 2 columns]

In [37]:
numberOfWins.loc[154]

First_pokemon     136
Second_pokemon    136
Name: 154, dtype: int64

In [ ]:
pd.DataFrame(combat.groupby('Winner').count()['First_pokemon'])

In [ ]:
#both methods produce the same results
countByFirst = combat.groupby('Second_pokemon').count()
countBySecond = combat.groupby('First_pokemon').count()

In [ ]:
countByFirst

In [ ]:
countByFirst['Winner'][154]

In [ ]:
countBySecond['Winner'][154]

In [ ]:
countBySecond

In [ ]:
countByFirst.index

In [ ]:
# find the index of always losing pokemon
# This pokemon is not included in the pokemon which has at least one more battle
find_losing_pokemon = np.setdiff1d(countByFirst.index, numberOfWins.index)-1
find_losing_pokemon

In [ ]:
find_losing_pokemon_2 = np.setdiff1d(countBySecond.index, numberOfWins.index)-1
find_losing_pokemon_2

In [ ]:
#find the pokemon 
always_losing_pokemon = pokemon.iloc[find_losing_pokemon]
always_losing_pokemon

In [ ]:
#find the pokemon 
pokemon.loc['230']
pokemon.iloc[230]

In [ ]:
# Feature engineering 
numberOfWins['Total Fights'] = countByFirst.Winner + countBySecond.Winner
numberOfWins['Win Percentage']= numberOfWins.First_pokemon/numberOfWins['Total Fights']

In [ ]:
numberOfWins

In [ ]:
numberOfWins['Total Fights'][154]

In [ ]:
# merge the winning dataset and the original pokemon dataset
results2 = pd.merge(pokemon, numberOfWins, right_index = True, left_on='Number')
results2

In [ ]:
results3 = pd.merge(pokemon, numberOfWins, left_on='Number', right_index = True, how='left')
results3

In [ ]:
results2['Total Fights'][154]

In [ ]:
results3[results3['Win Percentage'].isnull()]

In [ ]:
results3[np.isfinite(results3['Win Percentage'])].sort_values(by = ['Win Percentage']).head(10)

In [ ]:
results3[np.isfinite(results3['Win Percentage'])].sort_values(by = ['Win Percentage']).tail(10)

In [ ]:
results3[np.isfinite(results3['Win Percentage'])].sort_values(by = ['Win Percentage'], ascending = False).head(10)

In [ ]:
results3[np.isfinite(results3['Win Percentage'])].sort_values(by = ['Win Percentage'], ascending = False).head(20)

In [ ]:
 

print("Looking at the dimensions of our dataframes")
print("Count by first winner shape: " + str(countByFirst.shape))
print("Count by second winner shape: " + str(countBySecond.shape))
print("Total Wins shape : " + str(total_Wins.shape))

In [ ]:
winner = combat.groupby('Winner')

In [ ]:
winner.count()

In [ ]:
countByFirst

In [ ]:
countByFirst.index.values

In [ ]:
countBySecond

In [ ]:
numberOfWins = numberOfWins.sort_index()

In [ ]:
numberOfWins

In [ ]:
results2 = pd.merge(pokemon, numberOfWins, right_index = True, left_on='Number')

In [ ]:
results2

In [ ]:
results3 = pd.merge(pokemon, numberOfWins, left_on='Number', right_index = True, how='left')
results3

In [ ]:
results3[results3['Win Percentage'].isnull()]

In [ ]:
results3[results3['Total Fights'].isnull()]